#app {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  overflow-y: auto;
  padding: 2rem 0.75rem;
  background-color: var(--gray-200);
}

.shape {
  width: 100%;

  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 1rem;
}

#content {
  margin: 0 auto;
  margin-top: 1.25rem;
  
  width: 100%;
  max-width: 57rem;
  
  gap: .5rem;
  display: grid;
  grid-template-areas:
    "A"
    "B"
    "C";
}

@media (width >= 80em) {
  #app {
    padding: 4rem;
  }

  #content {
    gap: 1rem 1.5rem;
    margin-top: 4rem;
    
    grid-template-rows: auto 1fr;
    grid-template-columns: 20rem 1fr;
    grid-template-areas: 
    "A B"
    "C B";
  }
}
